/************************************************************************
                        TABLE OF CONTENTS
************************************************************************
        
        1. PROJECT DETAILS & COLR AND TYPOGRAPHY GUIDELINES
        2. CSS RESET (OUR OWN MODIFICATION)
        3. GLOBAL STYLES (TAGS, BASIC STYLING)
        4. HEADER & NAVIGATION
        5. PAGES TOP 
        6. MAIN BODY CONTENT
        7. FOOTER CONTENT
        8. jQUERY (CAROUSEL, BACK TO TOP, SHOW MORE/SHOW LESS)
        9. FORMS
        10. MEDIA QUERIES
************************************************************************/

/************************************************************************
        1. PROJECT DETAILS & COLR AND TYPOGRAPHY GUIDELINES

                            PROJECT DETAILS
NAMES: SERMED ALRAWI, CECILIA FELIX, SEAN MCMAHON
PROJECT: http://www.suzannecollinsbooks.com/ WEBSITE
VERSION: 1.3
LAST UPDATED: 01/22/2018
NOTES: COMBINED FILES
____________________________________________________________________________

                            COLOR GUIDE
BLACK: #000;
WHITE: #fff;
GRAY: #555;
GRAY HOVER: #888;
____________________________________________________________________________

                            TYPOGRAPHY GUIDE:
Headlines font-family: 'Cuprum', sans-serif;
Body font-family: 'PT Sans', sans-serif;

***********************************************************************/

/************************************************************************
        2. CSS RESET (OUR OWN MODIFICATION)
***********************************************************************/
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700|PT+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main, section, aside, article, header, footer, nav, video, audio, figure { display: block; }
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}
main {
    margin: 0 auto;
    max-width: 960px;
}
/************************************************************************
        3. GLOBAL STYLES (TAGS, BASIC STYLING)
***********************************************************************/
a { 
    color: #555;
    display: inline-block;
}
a:visited { background-color: #fff; }
a:hover { color: #888; }
article { flex: 3; }
article {
    color: black;
    padding: 20px; 
    text-align: center; 
}
h1, h2, h3, h4 { font-family: 'Cuprum', sans-serif; }
h1, h2 { margin-bottom: 10px; }
h1 {
    font-size: 48px;
    font-weight: 700;
}
h1 a {
    color: #000;
    text-decoration: none;
}
h1 a:hover{ color: #555; }
h2, h3, h4 { font-weight: 400; }
h2 {
    font-size: 35px;
}
h3 {
    font-size: 25px;
    margin-top: 10px;
    padding-top: 0;
}
h4 {
    color: #555;
    font-size: 18px;
}
p {
    padding: 15px;
    text-align: left;
}
section {
    display: flex;
    flex-direction: column;
}
.readMore {
    border: solid 1px #888;
    color: #888;
    display: block;
    float: right;
    font-family: 'Cuprum', sans-serif;
    padding: 10px;
    text-decoration: none;
    width: 100px;
}
.readMore:hover {
    background-color: #888;
    color: #fff;
}
/************************************************************************
        4. HEADER & NAVIGATION
***********************************************************************/
header {
    background-color: #333;
    font-family: 'Cuprum', sans-serif;
    margin-top: 0;
    opacity: .85;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav {
    margin: 0 auto;
    max-width: 960px;
}
nav a {
    color: #fff;
    display: inline-block;
    padding: 9px 30px;
    text-align: center;
    text-decoration: none;
}
nav a:visited { background-color: #333; }
nav a:hover { color: #888; }
nav input[type=checkbox], nav input[type=checkbox] ~ ul.menu { display: none; }
nav input[type=checkbox]:checked ~ ul.menu { display: block; }
nav li {
    display: inline-block;
    list-style-type: none;
    position: relative;
    width: 300px;
}
nav li li:first-child { border-top: solid 1px #fff; }
nav ul { font-size: 18px; }
.fa-chevron-circle-down {
    font-size: .8em;
    margin-left: .25em;
}
.showMenu {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 35px;
    padding: 10px 30px 0 35px;
    text-align: center;
}
/*______________________ DROP DOWN MENU ______________________ */
nav li li {
    border-bottom: solid 1px #fff;
    text-align: center;
    width: 160px;
}
nav li li:first-child { border-top: none; }
nav li li:last-child { border-bottom: none; }
nav ul li:hover ul { display: block; }
nav ul ul {
    background-color: #595959;
    display: none;
    position: absolute;
    top: 39px;
    z-index: 1;
}
/************************************************************************
       5. PAGES TOP 
***********************************************************************/
#top {
    height: 600px;
    margin: 20px 0;
}
.whiteBox {
    background-color: #fff;
    border: solid 1px #888;
    border-radius: 15px;
    display: block;
    margin: auto;
    opacity: .75;
    padding: 30px 20px;
    width: 85%;
}
.whiteBox .title {
    margin-top: 0;
    padding: 0 10px;
    text-align: center;
}
.whiteBox a.readMore { margin: -15px 0 0;}
/*---------------------PAGES TOP IMAGE---------------------*/
html {background: url(../images/background_strip.jpg) repeat-x;}
body.home {
    background: url(../images/katnis_hand_bg_smallscreen_bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 
#marginTop { margin-top: -20px; }
body.bio {
    background: url(../images/biography_bg.jpg) no-repeat top center;
}
body.books{
    background: url(../images/books2_bg.jpg) no-repeat top center;
}
body.hungerGames {
    background: url(../images/hunger_games_bg.jpg) no-repeat top center;
}
body.underland {
    background: url(../images/underland_bg.jpg) no-repeat top center;
}
body.pictureBooks {
    background: url(../images/picture_books_bg.jpg) no-repeat top center;
}
body.forum {
    background: url(../images/forum_bg.jpg) no-repeat top center;
}
body.news {
    background: url(../images/news_bg.jpg) no-repeat top center;
}
body.trailers {
    background: url(../images/trailers_bg.jpg) no-repeat top center;
}
body.interviews {
    background: url(../images/interviews_bg.jpg) no-repeat top center;
}
body.reviews {
    background: url(../images/reviews_bg.jpg) no-repeat top center;
}
body.contact {
    background: url(../images/contact_bg.jpg) no-repeat top center;
}
/************************************************************************
        6. MAIN BODY CONTENT
***********************************************************************/
article.container1 { margin-top: 50px; }
article#mainInfo { padding: 30px 0 50px; }
.container2, .container3 {
    background-color: #fff;
    display: block;
    padding: 20px 50px;
}
.container3 { padding-bottom: 50px; }
.container1 h1 {
    font-size: 52px;
    padding-top: 15px;
    text-shadow: 2px 0px 20px #fff;
}
.container1 h2 {
    font-size: 27px;
    padding-bottom: 15px;
    text-shadow: 2px 0px 20px #fff;
}
.title { margin: 30px 0; }
.title h1:after, .title h2:after {
    background: #000;
    content: "";
    display: block;
    height: 2px;
    margin: 10px auto;
    width: 60px;
}
/*------HOME--------*/
article.container4 { background: url(../images/bio_home_bg.jpg) no-repeat center; }
article.container5 { background: url(../images/news_bg.jpg) no-repeat center; }
/*------BIO--------*/
article.biog {
    margin: 0 auto;
    width: 85%;
}
aside.bioside {
    background: #ccc;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
aside.bioside img {
    max-width: 80%;
    padding: 10px 0;
}
.info p { text-align: center; }
/*---------------------BOOKS---------------------*/
article.books { margin-top: 20px; }
article.hungerGames {
    margin: 20px auto;
    width: 80%;
}
.bookInfo img{ padding: 15px;}
.books {
    flex-direction: column;
    flex-wrap: wrap;
}
/*---------------------FORUM---------------------*/
article.post, aside.forum { margin: 70px auto; }
article.post h3, article.post h4, aside.forum h3, aside.forum h4 {
    margin-left: 15px;
    text-align: left;
} 
article.post, aside.forum { width: 90%; }
aside.forum {
    margin-top: 20px;
    width: 90%; 
}
button {
    background-color: #999;
    float: right;
    padding: 5px 10px;
}
button:hover { background-color: #888; }
button:after {
    clear: both;
    content: "";
    display: block;
}
.comment1 {
    border-bottom: solid 1px #999;
    border-left: solid 1px #888;
    margin-left: 60px;
    margin-top: 20px; 
    width: 80%;
}
.comment2 {
    border-bottom: solid 1px #999;
    border-left: solid 1px #888;
    margin-left: 100px;
    margin-top: 20px; 
    width: 70%;
}
.post2Top { margin-top: 15px; }
.forumComment {
    align-content: center;
    background-color: #9e9e9e;
    padding: 15px 15px 40px 15px;
}
.forumComment ul.postOptions {
    padding: 15px 0;
    text-align: left;
}
.forumComment ul.postOptions li {
    text-align: center;
    width: 45%;
}
.forumIcons {
    color: #555;
    font-size: 16px;
}
.forum li { list-style-type: none; }
.forumTopics { margin-top: 25px; }
.forumTopics h4, .forumTopics p { padding-top: 3px; }
.forumTopics li {
    border-bottom: 1px solid #999;
    margin: 15px;
} 
.forumTopics li:last-child { border-bottom: none; }
p.postInfo {
    font-size: 10px;
    color: #333;
    padding: 0 0 5px; 
}
.post img {      
    float: left;
    height: 50px;
    margin: 0 15px;
    padding: 0;
    width: 50px;
}
.postTop h4 { margin-bottom: 0; }
section.post {
    background-color: #9e9e9e;
    padding: 25px 10px;
}
textarea{
    border: 1px solid #999;
    padding: 15px;
    width: 100%;
}
ul.postOptions { text-align: right; }
ul.postOptions li {
    color: #555;
    display: inline-block;
    font: 700 14px 'Cuprum', sans-serif;
    width: 50px;
}
ul.postOptions li:hover { color: #888; }
/*----------------------MEDIA-------------------*/
article.media .title{
    margin-top: 50px;
}
.video {
	height:0;
	overflow:hidden;
    padding-bottom:56.25%;
	padding-top:20px;
    position:relative;
}
.video iframe, .video object, .video embed {
	height:100%;
	top:0;
	left:0;
    position:absolute;
	width:100%;
}
 /*-----------------------NEWS-----------------------*/
.newsArticle {
    padding: 30px 15px;
}
.newsText { margin-top: 20px}
.newsText h2, .newsText h4 { 
    padding-left: 15px;
    text-align: left; 
}
/************************************************************************
        7. FOOTER CONTENT
***********************************************************************/
footer {
    background-color: #333;
    clear: both;
    color: #fff;
    height: 180px;
    margin-top: 50px;
    opacity: .75;
    text-align: center;
}
footer a:visited { background-color: #333; }
footer p {
    font-size: 12px;
    text-align: center;
}
footer img { padding: 25px 15px 10px; }
/************************************************************************
         8. jQUERY (CAROUSEL, BACK TO TOP, SHOW MORE/SHOW LESS)
***********************************************************************/
/*---------------------Carousel---------------------*/
.bx-wrapper {
    margin: 0 auto;
    width: 800px;
}
/*---------------------Back to top---------------------*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #888; /* Set a background color */
    font-family: 'Cuprum', sans-serif;
    font-weight: 700;
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/*------------------Show More/Show less---------------------*/
.more {
    padding: 5px 15px;
    text-align: left;
}
.morecontent span { display: none; }
.morelink { display: block; }
/************************************************************************
         9. FORMS
***********************************************************************/
*:focus { background-color: #ccc; }
::-webkit-input-placeholder { color: #333; }
::-ms-input-placeholder { color: #333; }
::-moz-placeholder { color: #333; }
::-placeholder { color: #333; }
form {
    margin: .5em 0;
    padding: 3em 1em 1em;
    text-align: left;
}
form ul { list-style-type: none; }
form h3 { padding-bottom: 5px; }
fieldset {
    border: solid 2px #ccc;
    margin: .5em 0;
    padding: 1em;
}
fieldset:last-child { margin-bottom: 1.75em; }
label {
    display: block;
    margin: .5em;
}
textarea { min-height: 10em; }
input, textarea {
    margin-bottom: 10px;
    padding: .5em;
    width: 95%;
}
input[type="radio"], input[type="checkbox"], input[type="submit"], input[type="reset"]{ width: auto; }
input.button {
    background-color: #333;
    border: solid 1px #0B486B;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: .6em 1.8em;
}
input.button:hover {
    background-color: #ccc;
    color: #333;
}
.radioList label { display: inline-block; }
#reset.button { margin-right: 10px; }
#state, #books {
    margin: 10px 0;
    padding: 5px 0;
}
/************************************************************************
        10. MEDIA QUERIES
***********************************************************************/
/*---------------------MEDIA QUERY 500PX---------------------*/
@media screen and (min-width: 500px) {
article { padding: 0 15px; }
.container1 h1 { font-size: 62px; }
.container1 h2 { font-size: 35px; } 
.container1 { padding: 50px; }
.container4, .container5 { height: 520px; }
.container4 .whiteBox, .container5 .whiteBox { margin-top: 10%;}
} 
/*---------------------MEDIA QUERY 603PX---------------------*/
@media screen and (min-width: 603px){
article.bookInfo{
    margin: 50px auto;
    width: 80%;
}
article.bookInfo:after {
    clear: both;
    content: "";
    display: block;
} 
body.home {
    background: url(../images/katnis_hand_bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bookInfo h2, .bookInfo h4 {
    margin-left: 15px;
    text-align: left;
}
div.bookInfo {
    float: left;
    width: 65%;
}
div.cover img{
    float: left;
    width: 35%;
}
div.whiteBox { width: 60%; }
/*--------FORMS AT 603PX ------------*/
.formSection, input {
    float: left;
    margin-right: 5%;
    width: 45%;
    font-size: 16px;
}
input[type="radio"], input[type="checkbox"] { margin-top: 10px; }
}
/*---------------------MEDIA QUERY 800PX---------------------*/
@media screen and (min-width: 800px){   
nav input[type=checkbox] ~ ul.menu { display: block; }
nav li {
    display: inline-block;
    width: auto;
}
.showMenu { display: none; }
/*---------- BOOKS---------*/     
article.books { margin-top: 50px; }  
/*---------- FORUM---------*/ 
aside.forum {
    float: right;
    margin: 50px 0;
    width: 35%;
}
aside.forum:after{
    clear: both;
    content: "";
    display: block;
}
article.post{
    float: left;
    margin: 50px 5px;
    width: 60%;
}
/*------------NEWS------------*/
.newsArticle img {
    float: left;
    margin-right: 15px;
    padding-bottom: 10px;
}
.newsText:after {
    clear: both;
    content: "";
    display: block;
}
    /*----------- BIO-----------*/
.allbio {
    margin: 0 auto; 
    width: 960px;
}
.allbio h3 {
    padding-left: 15px;
    text-align: left;
}
article.biog {
    display: block;
    float: left;
    padding-left: 40px;
    width: 60%;
}
article.biog:after{
    clear: both;
    content: "";
    display: block;
}
aside.bioside img { margin: auto; }
aside.bioside {
    display: flex;
    flex-direction: column;
    float: left;
    width: 30%;
   }
.info {
    background: #ccc;
    opacity: .80;
    padding: 15px;
   } 
}
/*---------------------MEDIA QUERY 900PX---------------------*/
@media screen and (min-width: 900px) {
div.underland img{
    margin: 0;
    padding: 0;
}  
}